/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: "DanskeHeadline";
  /* src: url("./assets/Fonts/danshrg_-webfont.woff") format("woff"); */
  src: url("./assets/Fonts/danshs__-webfont.woff") format("woff");
}

body {
  font-family: Verdana, Arial, sans-serif;
  margin: 0;
}
