<!--The content below is only a placeholder and can be replaced.-->
<app-header [titleText]="title"></app-header>

<div class="image-bg">

  <h2>Software Engineer</h2>

  <p>
    For Wealth Management solutions
  </p>
  <p>
    Rekruttering Id:19105
  </p>
  <mat-tab-group class="tab-group">
    <mat-tab label="Jobbet">
      <div class="tab-content">
        <p>
          Are you looking for a new opportunity as a software Engineer? Seize the change to join us in developing the best possible
          solutions for Wealth Management Customers. Wealth Management is a strong and professional business area in Danske
          Bank, and the market for wealth customers is undergoing rapid changes.
        </p>
        <p>
          You will join Retail Investment IT in Danske Bank whose responsibilities are spanning differenced solutions and products
          for Investment customers. We are located in Brabrand, Århus – a site with more than 400 dedicated colleagues.
        </p>
        <h4> Develop customer-oriented solutions</h4>
        <p class="near-header">
          As a Software Engineer, you will be responsible for developing customer-oriented solutions for Danske Bank. You are part
          of all phases of development from requirements to release and follow-up. You work closely with the business and
          peer developers as a dedicated team player.
        </p>
        <p>
          You have a passion for interacting with many different people to achieve a goal. We value the ability to challenge ideas
          and come up with even better ones. You will participate in innovating our solutions and products by understanding
          and responding to changing customer needs. We are deeply anchored in our domain area Investment. You need the interest
          and ambition to learn more about Investment to put the customers need first.
        </p>
        <h4>About you</h4>
        <ul class="near-header no-pad">
          <li>A relevant education in computer science or computer engineering</li>
          <li>Skilled in C#, the latest .NET Framework and Visual Studio</li>
          <li>Experience with source control such as Git/TFS, and modern test frameworks etc.</li>
          <li>Experience with container application platforms like OpenShift</li>
          <li>An agile mindset and a positive and proactive attitude to your work</li>
          <li>The ability and motivation to learn new technologies and solutions quickly</li>
          <li>Knowledge of software developing using different methods and tools</li>
          <li>Curiosity towards new technologies, web, mobile development, programming languages, frameworks and methodologies</li>
        </ul>
        <p>We are looking for a colleague that is both able to work independent and in agile teams. You need to be able to share
          your ideas openly and to co-create solutions.
        </p>

        <h4>For more info please reach out to:</h4>
        <br/>
        <div>Morten Stavnsbjerg</div>
        <div>Development Manager in Retail Investment IT</div>
        <div>Phone: +45 45 13 25 57</div>
        <div>Email:
          <a href="mailto:most@danskebank.dk" style="color: white">most@danskebank.dk</a>
        </div>

        <p>Send application and CV no later than 29.06.2018.</p>

        <p style="font-style:italic">
          Danske Bank is a strong Nordic universal bank with an international network. Our vision is to be recognised as the most trusted
          financial partner. Danske Bank is headquartered in Copenhagen, Denmark and has 18,000 employees across 16 countries.
        </p>
      </div>
    </mat-tab>
    <mat-tab label="Tip en ven">
      <div class="tab-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
        vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
        felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum
        enim, vel tempor sapien arcu a tellus.
      </div>
    </mat-tab>
    <mat-tab label="Søg">
      <div class="tab-content">

        <mat-tab-group class="demo-tab-group">
          <mat-tab label="Jobbet">
            <div class="tab-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
              vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
              felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
              rutrum enim, vel tempor sapien arcu a tellus.
            </div>
          </mat-tab>
          <mat-tab label="Tip en ven">
            <div class="tab-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
              vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
              felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
              rutrum enim, vel tempor sapien arcu a tellus.
            </div>
          </mat-tab>
          <mat-tab label="Søg">
            <div class="tab-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
              vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
              felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
              rutrum enim, vel tempor sapien arcu a tellus.
            </div>
          </mat-tab>
        </mat-tab-group>

      </div>
    </mat-tab>
  </mat-tab-group>
</div>